{% extends 'portfolio/base.html' %}

{% block title %}Home - Ayush's Portfolio{% endblock %}

{% block content %}
<div class="container text-light mt-5">
    
    <p class="text-success fw-bold" style="font-family: monospace;">Hi, my name is</p>
    <h1 class="display-3 fw-bold">Ayush Kumar Choudhary<span class="text-primary">.</span></h1>
    <h2 class="display-5 text-secondary fw-bold">I build things for the web, Interested in Data Analyst work as well.</h2>
    
    <p class="mt-3" style="max-width: 600px;">
        A beginner developer exploring Django and web development. 
        I'm passionate about learning new technologies and building web applications, and also eagerly interested in Data Science.
    </p>
    
    <a href="{% url 'projects' %}" class="btn btn-outline-primary mt-4">View My Work</a>
</div>
{% endblock %}







